# Database PostgreSQL (Supabase / Local)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/zii_pos_db"

# Ports
PORT=4000
NEXT_PUBLIC_API_URL="http://localhost:4000"

# JWT Auth Secret
JWT_SECRET="zii_pos_super_secret_jwt_key_2026"
